PORT=4000
NODE_ENV=production

CORS_ORIGIN=https://versuzo-in-frontend.vercel.app
FRONTEND_URL=https://versuzo-in-frontend.vercel.app

JWT_SECRET=YOUR_ACTUAL_SECRET

DATABASE_URL=YOUR_NEON_DATABASE_URL

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Versuzo no-reply@versuzo.com"